/* main UI */
.react-flow .react-flow__handle {
  border-radius: 10px;
  background-color: #cacacc;
}

.react-flow .react-flow__node {
  height: 40px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  font-weight: 700;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
  background-color: #7046d3bb;
}

/* controls */

.button {
  background-color: #c5c2c2;
  border-radius: 20px;
  color: #000000;
  border: none;
  padding: 15px 30px;
  margin: 10px 0;
  text-transform: capitalize;
  border: 1px solid #333333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 50px;
  height: 50px;
}
